/* общие стили и оберток */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono NL;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

.form-box {
    max-width: 600px;
    min-height: 100%;
    margin-left: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.form-box_wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-left: 55px;
    margin-right: 55px;
}

fieldset {
    display: flex;
    align-items: center;
    padding: 0 17px 17px 17px;
    border-radius: 6px;
    border: 1px solid #000;
    opacity: 0.4;
}

.error {
    border: 1px solid red;
}

#errorSpan {
    margin-top: 14px;
    margin-left: 16px;
    color: red;
}

fieldset:hover {
    opacity: 1;
}

/* первый блок */
.form-box_desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-box_desc-title {
    color: #212121;
    font-size: 28px;
    font-weight: 500;
    line-height: 135%;
}

.form-box_desc-description {
    font-size: 18px;
    line-height: 145%;
}

/* ! второй блок */
.form-box_form {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.form-box_form-star {
    position: relative;
    bottom: 4px;
    left: 2px;
}

.input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: black;
    -webkit-background-clip: text !important;
}

.input:focus {
    color: #000;
}

.form-box_form legend {
    margin-left: 5px;
    padding: 5px;
}

.form-box_form-select {
    outline: none;
    border: none;
    width: 100%;
}

.form-box_form-comments {
    min-height: 130px;
}

.form-box_form-comments textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

/* ? третий блок */

.form_box_send {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_box_send-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form_box_send-box p {
    font-size: 12px;
}

.form_box_send-checkbox {
    padding: 0;
    width: 28px;
    height: 28px;
    border-radius: 5px;
}

.form_box_send-checkbox input {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.form_box_send-box a {
    text-decoration: none;
    color: orange;
}

.form_box_send button {
    min-width: 200px;
    height: 52px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

/* loader */
.loader-box {
    display: none;
}

.loader {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px peru dashed;
    animation: rotate 3s infinite linear;
    animation-direction: alternate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.3);
    }
}
