* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: JetBrains Mono NL;
}

.container {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.form-box {
    max-width: 600px;
    height: 900px;
    margin-left: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.form-box_wrapper {
    display: flex;
    flex-direction: column;
    gap: 48px;
    margin-left: 55px;
    margin-right: 55px;
}

.form-box_desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-box_desc-title {
    color: #212121;
    font-size: 28px;
    font-weight: 500;
    line-height: 135%;
}

.form-box_desc-description {
    font-size: 18px;
    line-height: 145%;
}

.form-box_form {
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.input {
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
}

.form-box_form fieldset {
    border-radius: 6px;
    border: 1px solid #000;
    opacity: 0.4;
}

.form-box_form legend {
    margin-left: 5px;
    padding: 5px;
}

.form-box_form-comments {
    min-height: 130px;
}

.form-box_form-comments textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
}

fieldset {
    display: flex;
    align-items: center;
    padding: 0 17px 17px 17px;
}
