*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: JetBrains Mono NL;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    overflow-y: scroll;
}

.form-container {
    max-width: 600px;
    min-height: 100%;
    margin-left: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.form-wrapper.active {
    display: flex;
    flex-direction: column;
    padding: 55px;
    gap: 38px;
}

.form-wrapper {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.4em;
}

.form-field {
    position: relative;
}

.form__input,
.form__input-textaria,
.form__select {
    padding: 1rem;
    width: 100%;
    font-size: 1rem;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: box-shadow 0.15s ease-in-out;
    border-radius: 0.5rem;
}

.form__input.success,
.form__select.success {
    border: 1px solid greenyellow;
}

.form__input.error,
.form__select.error {
    border: 1px solid red;
}

.form__input-textaria {
    resize: vertical;
    min-height: 5rem;
    max-height: 10rem;
}

.form__label {
    position: absolute;
    bottom: 2.9rem;
    left: 1rem;
    display: flex;
    background-color: #fff;
    color: orange;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.form__label-textaria {
    position: relative;
    display: inline-block;
    top: 0.7rem;
    left: 1rem;
    background-color: #fff;
    color: orange;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.form__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.form__input:focus::placeholder {
    color: transparent;
}

.form__input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.form__input.error:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(222, 8, 8, 0.4);
}

.form__input-textaria::placeholder {
    color: #212529;
    opacity: 0.4;
}

.form__input-textaria:focus::placeholder {
    color: transparent;
}

.form__input-textaria:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: black;
    -webkit-background-clip: text !important;
}

.form__select {
    color: rgba(33, 37, 41, 0.4);
    border: 1px solid #bdbdbd;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
    appearance: none;
    position: relative;
}

.form__select::after {
}

.form__select:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.form__send {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rules {
    display: flex;
    align-items: center;
    gap: 10px;
}

.rules__desc {
    font-size: 12px;
}

.rules__input {
    width: 28px;
    height: 28px;
    border-radius: 5px;
}

.rules__input.error {
    box-shadow: 0 0 0 0.2rem rgba(222, 8, 8, 0.4);
}

.rules__link {
    text-decoration: none;
    color: orange;
}

.form__button {
    min-width: 200px;
    height: 52px;
    background-color: orange;
    opacity: 0.5;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.form__button.success {
    cursor: pointer;
    opacity: 1;
}

.loader-box.active {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.loader-box {
    display: none;
}

.loader {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px peru dashed;
    animation: rotate 3s infinite linear;
    animation-direction: alternate;
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(1);
    }
    to {
        transform: rotate(360deg) scale(1.3);
    }
}

.success-box {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.success-box.active {
    display: flex;
}

.success-box__btn {
    padding: 10px 20px;
    background: transparent;
    border-radius: 5px;
    border: 2px solid orangered;
    cursor: pointer;
}
